{%extends 'base.html'%}

{% block content %} 
{{ block.super}}

<div class="container-fluid" style="background-color: chocolate;">
	<div class="container text-center" id="home" style="width: 100%; background-color: chocolate;">
		<div>
			<div id="overlay" class=" text-center">
		
				<div class="intro" >
					<h1 class="text-center" id="welcome_text"> <strong>M'S GALLERY </strong></h1>	
				</div>
			</div>
		</div>
	</div>
	<div class="text-center">
		<br><br>
		<div class="card text-center" style="background-color:bisque;" >
			<br>
			<div class="card-header text-center mx-auto" style="font-weight: 900; font-size: larger; background-color: chocolate; padding: 10px;"> Categories </div>
			<ul
				class="list-group list-group-flush d-flex flex-row flex-wrap justify-content-center m-2 text-center px-2"
			>
				<a href="{% url 'display_photos'%}">
					<li
						class="list-group-item btn btn-outline-info border m-2 shadow rounded-3"
						style="width: 8em; background-color: chocolate; font-weight: 900; color: bisque; "
						>All
					</li>
				</a>

				{% for category in categories %}
				<a href="{% url 'display_photos'%}?category={{category.name}}">
					<li
						class="list-group-item btn btn-outline-info border m-2 shadow rounded-3"
						style="width: 9em; background-color: chocolate; color: bisque; font-weight: 900;" 
						>{{category.name}}
					</li>
				</a>

				{% endfor %}
			</ul>
		</div>
	</div>
	<br><br>
	<div class="text-center">
		<div class="card text-center" style="background-color: bisque;">
			<br>
			<div class="card-header text-center mx-auto" style="font-weight: 900; font-size: larger; background-color: chocolate; padding: 10px;"> Locations </div>
			<ul
				class="list-group list-group-flush d-flex flex-row flex-wrap justify-content-center"
			>
				<a href="">
					<li
						class="list-group-item btn btn-outline border m-2 shadow rounded-3"
						style="width: 8em; background-color: chocolate; font-weight: 900; color: bisque; "
						>All
					</li>
				</a>
				{% for location in locations %}
				<a class="btn btn-outline-info btn-sm" id="btn"
                       href="/location/{{location_name}}">
					
					<li
						class="list-group-item btn btn-outline border shadow rounded-3 m-2"
						style="width: 8em; background-color: chocolate; font-weight: 900; color: bisque;"
						>{{location.name}}</li>
				</a>

				{% endfor %}
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid" id="content"  style="background-color: chocolate;">
	<div class="row p-4">
		{% for img in images%}
	<div class = "col-md-4" data-toggle ="modal" data-target="#showPictureModal{{img.id}}">
		<a href="{{img.id}}" data-toggle="modal" data-target="{{img.id}}">
			<img src="{{img.photo.url}}" class="img-responsive" alt="{{img.name}}" style="width: 100%;width: 100%; height:400px">
			<h4 class="text-center text-white">{{img.name}}</h4>
		</a>
		<div class="modal fade" id="showPictureModal{{img.id}}" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">>
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header" style="background-color:chocolate ; color: bisque;" >
						<h4 class="modal-title" id="modalPictureTitle">{{img.name}}</h4>
						<button type="button" class="btn-close justify-content-end" data-bs-dismiss="modal" aria-label="Close" style="color: black;">&times;</button>
						
					</div>
					<div class="modal-body" style="background-color:chocolate ; color: bisque;" >

						<img src="{{img.photo.url}}" class="img-responsive" alt="Image"
							style="width:100%;max-width:100%">
						<br>
						<p class="text-left"><b>Description:</b></p>
						<p class="text-justify" style="font-size: medium;">{{img.description}}</p>
						<p class="text-left"><b>Location:</b> {{img.location}}</p>
						<p class="text-left"><b>Category:</b> {{img.category}}</p>
						<p class="text-left"><b>Uploaded by:</b> {{img.photographer}}, <b>updated on</b> {{ img.date_uploaded | date}}</p>						
					</div>

	
					<div class="modal-footer" style="background-color:chocolate ; color: bisque;">
						<input class="form-control input-lg" type="text"
								value="{{img.photo.url}}" id="{{img.id}}.url">
						<button class="btn btn-success btn-sm" onclick="copyLink('{{img.id}}.url')">Copy</button>
					</div>
					<div class="modal-footer" style="background-color:chocolate ; color: bisque;">
						<button
						type="button"
						class="btn btn-danger"
						data-bs-dismiss="modal"
						>Close</button>
					</div>
				</div>	
			</div>
		</div>
	</div>
	{%endfor%}
	</div>
</div>

<footer class="footer" style="background-color: black; color: bisque; height: 60px; font-size: 1.8rem;" >
	<p class="text-center" style="padding: 5px;"> <em>© Maureen Muriithi 2022. All Rights Reserved</em></p>
</footer>	

{% endblock %}


