{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<main class="my-3">
	<div class="container my-3">
		<div class="text-center">
			<div class="card text-center">
				<div class="card-header text-center mx-auto"> Categories </div>
				<ul
					class="list-group list-group-flush d-flex flex-row flex-wrap justify-content-center m-2 text-center px-2"
				>
					<a href="{% url 'display_photos'%}">
						<li
							class="list-group-item btn btn-outline-info border m-2 shadow rounded-3"
							style="width: 8em"
							>All
						</li>
					</a>

					{% for category in categories %}
					<a href="{% url 'display_photos'%}?category={{category.name}}">
						<li
							class="list-group-item btn btn-outline-info border m-2 shadow rounded-3"
							style="width: 9em"
							>{{category.name}}
						</li>
					</a>

					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="text-center">
			<div class="card text-center">
				<div class="card-header text-center mx-auto"> Locations </div>
				<ul
					class="list-group list-group-flush d-flex flex-row flex-wrap justify-content-center"
				>
					<a href="">
						<li
							class="list-group-item btn btn-outline-info border m-2 shadow rounded-3"
							style="width: 8em"
							>All
						</li>
					</a>
					{% for location in locations %}
					<a href="{% url 'display_photos'%}?location={{location.name}}">
						<li
							class="list-group-item btn btn-outline-primary border shadow rounded-3 m-2"
							style="width: 8em"
							>{{location.name}}</li
						>
					</a>

					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="container-fluid album py-5 bg-light">
			<div class="container-fluid">
				<div
					class="container-fluid d-flex flex-wrap flex-sm-wrap justify-content-around mx-auto"
					data-masonry='{ "itemSelector": ".picture", columnWidth: 5, fitWidth: true}'
				>
					{%for photo in photos%}
					<span class="picture m-2 w-25 shadow-lg p-3 mb-5 bg-body">
						<div class="mx-auto my-auto text-center py-2">
                            <button class="btn btn-outline-primary btn-block mx-auto"
								>{{ image.name }}</button
							>
							<button class="btn btn-outline-primary btn-block mx-auto"
								>{{ image.category.name }}</button
							>
							<button class="btn btn-outline-success btn-block mx-auto"
								>{{ image.location }}</button
							>
						</div>
						<!-- Button trigger modal -->
						<img
							data-bs-toggle="modal"
							class="px-sm-1 mx-auto my-auto"
							type="button"
							data-bs-target="#pic{{photo.id}}"
							src="{{image.photo.url}}"
							alt="{{image.description}}"
							width="100%"
							height="auto"
						/>

						<!-- Modal -->
						<div
							class="modal fade"
							id="pic{{image.id}}"
							data-bs-backdrop="static"
							data-bs-keyboard="false"
							tabindex="-1"
							aria-labelledby="staticBackdropLabel"
							aria-hidden="true"
							style=""
						>
							<div class="modal-dialog modal-xl col-10">
								<div class="modal-content">
									<div class="modal-header">
										<span class="container mx-auto text-center py-2">
											<button class="btn btn-outline-primary btn-block mx-auto"
												>{{ image.category.name }}</button
											>
											<button class="btn btn-outline-success btn-block mx-auto"
												>{{ image.location }}</button
											>
										</span>
										<button
											type="button"
											class="btn-close"
											data-bs-dismiss="modal"
											aria-label="Close"
										></button>
									</div>
									<div class="modal-body">
										<h5
											class="modal-title text-center text-decoration-underline fw-bold h6"
											id="staticBackdropLabel"
											>{{ image.description}}</h5
										>
										<img
											class="m-2 rounded-3 col-12 img-fluid px-sm-2 mx-auto"
											src="{{image.photo.url}}"
											alt="{{image.photo.description}}"
											width="auto"
											height="auto"
										/>
									</div>
									<div class="modal-footer">
										<input id="{{img.id}}.url"  class="form-control input-md responsive" type="text" value="{{image.photo.url}}">
                                        <button type="button" onclick="copyToClipboard();">Copy</button>
                                        <script>
                                            function copyToClipboard() {
                                                var copyText = document.getElementById("{{image.id}}.url");
                                                copyText.select();
                                                copyText.setSelectionRange(0, 99999)
                                                navigator.clipboard.writeText(copyText.value)
                                                alert('url copied:' + copyText.value);
                                            }
                                        </script>

										<button
											type="button"
											class="btn btn-warning"
											data-bs-dismiss="modal"
											>Close</button
										>
									</div>
								</div>
							</div>
						</div>
					</span>

					{% endfor %}
				</div>
			</div>
		</div>
	</div>

    <footer class="footer">
        <p class="text-center"> <em>© Maureen Muriithi 2022. All Rights Reserved</em></p>
    </footer>

</main>

{% endblock content %}
