{% extends 'base.html' %}

{% block content %}
    {{ block.super }}

    <!-- <div class="container">
      <h1 class="text-center" >{{ heading }} <span style="color: chocolate;"> M's</span> Photohub </h1>
      <p class="text-center" id="index_intro" >Let's journey through this amazing gallery!!</p>
    </div> -->

    <div class="hero-image">
      <div class="hero-text">
        <h1 class="text-center" >{{ heading }} <span style="color: chocolate;"> M's</span> Photohub </h1>
        <p class="text-center" id="index_intro" >Let's explore through this amazing gallery!!</p>
        <button id="indexBtn">EXPLORE</button>
      </div>
    </div>

{% endblock %}
