<nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header" style="margin-left: -15%;" >
        <a class="navbar-brand" style="color: bisque; font-size: 2.5rem;" href="{% url 'home' %}">M's Photohub</a>
      </div>

      <div class="col-md-6">
        <a class="navbar-brand" style="color: bisque; font-size: 2.5rem;" href="admin/">Admin</a>
      </div>
  
      <!-- Adding a search form  -->
      <div class="col-md-4 navbar-right">

        <form class="form-inline my-2 my-md-0"  action="/search" role="search">
          <input style="background-color: bisque;" class="form-control mr-sm-2" type="search" placeholder="Search Category" name="imagesearch" aria-label="Search">
          <button style="background-color: bisque; color: chocolate;" class="btn btn-info btn-md my-2 my-sm-0" type="submit">Search </button>
        </form>
      </div>
      <div class="col-md-2 navbar-right" style="color: bisque; font-size: 1.5rem" >
        Categories like Travel, Food, Pets etc
      </div>
    </div>
  </nav>

